/* nav {
  background-color: #fcc512;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

#logo {
  font-size: 2rem;
}

a.nav-link {
  font-size: 1.125rem;
  color: #ffffff;
}

a.nav-link:hover {
  color: #e2e2e2;
}

.links,
.login-signup,
.cart-logout {
  display: flex;
  align-items: center;
}

.signup {
  margin-left: 1rem;
  margin-right: 1rem;
}

.login-signup {
  font-size: 1.25rem;
} */

.nav-bar {
  display: flex;
  height: 10vh;
  background-color: #f0f8ff;
}

.nav-bar__inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__inner a {
  color: rgb(91, 153, 91);
  text-decoration: none;
}