.Register {
  width: 30%;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid #AFAFAF;
  border-radius: 1rem;
}

.Register h1 {
  margin-bottom: 1.5rem;
}

.btn-register {
  width: 100%;
  color: #ffffff;
  background-color: #0dcaf0;
  margin-bottom: 1rem;
}