.Tab {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: right;
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  padding: 1rem;
}

.Tab ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.meal__item:not(:last-child) {
  margin-bottom: 1rem;
}

.meal__item:last-child {
  margin-bottom: 2rem;
}

.meal__item input {
  width: 2.5rem;
}

.meal__item u:hover {
  cursor: pointer;
}

.btn-checkout {
  background-color: #258a11;
  color: #ffffff;
  width: 50%;
}

a.btn-checkout:hover {
  color: #ececec;
}

.Tab__heading {
  display: flex;
  justify-content: space-between;
}

.meal__item-qty {
  margin: 0;
}